@{
    ViewData["Title"] = "Hans' Electronics Store - Welcome";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Hans Mittig's Electronics Store</h1>
    <p>To get started, please choose from one of the options above.</p>
</div>
