@model IEnumerable<StoreMVC.Models.CustomerIndexVM>

@{
    ViewData["Title"] = "Register Customer";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Add a customer to the system</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.customerName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.customerName)
            </td>
            <td>
                @*Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ })*@ |
                @Html.ActionLink("Details", "Details", new { name=item.customerName }) |
                @*@Html.ActionLink("Delete", "Delete", new { name = item.CustomerName })*@
            </td>
        </tr>
}
    </tbody>
</table>
