
@{
    ViewData["Title"] = "SignIn";
}

<h1>Welcome!</h1>
<p>Here, managers can sign in to access special privileges.</p>
<form action="/manager_menu">
    <label for="name">Full Name:</label>
    <input type="text" id="name" name="name"><br><br>
    <label for="password">Password:</label>
    <input type="text" id="password" name="password"><br><br>
    <input type="submit" value="Submit">
</form>


